<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./_head.html'); %>
</head>

<body>
    <%- include('./_navbar.html');  %>    

    <header class="header header-allgemein w-screen h-screen">
        <div class="container">
            <h1 class="heading-primary">Allgemein</h1>
            <h3 class="author">Paul Schlarmann</h3>
        </div>
    </header>

    <section class="article-content">
        <h3>Das ist hier die Zwischenüberschirft</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vero provident sint quo sit repellendus voluptas! Laudantium ab 
            nostrum labore soluta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui corrupti earum a quam iusto atque alias ullam consectetur voluptatibus.</p>

            <p> Man kann einzelne Paragraphen einfügen</p>

            <p>man kann auch ganz tolle bilder einfügen, ganz ganz toll:</p>
            <img src="https://images.unsplash.com/photo-1661547663251-297d10e13b3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
            <p> <strong>man kann text auch fettgedruckt schreiben </strong> <em> oder auch kursiv </em> <strong> <em></em>und es geht auch beides kursiv und fett</em></strong> </p>
            <h3><strong> Überschriften gehen auch fett usw. </strong></h3>
            <p><a class="link" href="https://google.com">Links funktionieren auch</a></p>
    </section>

</body>

</html>