<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./_head.html'); %>
</head>

<body>
    <%- include('./_navbar.html');  %>    

    <header class="header header-mechanik w-screen h-screen">
        <div class="container">
            <h1 class="heading-primary">Mechanik</h1>
            <h3 class="author">Paul Schlarmann</h3>
        </div>
    </header>

    <section class="article-content">
        <p>hier text einfügen</p>
    </section>

</body>

</html>